@font-face {
    font-family: omloop;
    src: url(Raleway-Regular.ttf);
}

h1{
	font-family: "omloop";
	color: white;
	margin-top: 0px;
	font-size: 60px;
	background-color: black;
	text-transform: uppercase;
}

h2{
	font-family: "omloop";
	color: white;
	font-size: 40px;
	background-color: black;
	text-transform: uppercase;
}

h3{
	font-family: "omloop";
	font-size: 50px;
}

.lead, h1, h2, h3
{
	text-align: left;
}



a, a:hover
{
	color:red;
	font-family: "omloop";

}

.info{
	margin-top: 30px;
}

.info li{
	font-family: "omloop";

	font-size: 30px;
	margin: 0;
	padding: 0 0 0 40px;
	list-style: none;
	background-image: url("favicon.ico");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 27px;
 }


.eerdere-editie, .lijst-edities, .weetjes, .strava, footer{
	margin-top: 50px;
	
}

.eerdere-editie li{
	font-size: 30px;
	list-style-type: none;
}

.weetjes-lijst li{
	margin-top: 10px;
	font-size: 18px;
	font-family: "omloop";

}
footer {
	text-align: center;
	padding: 15px;
	color: black;
	background-color: #fbfcfc;
}
.eerdere-editie-container {
	background-color: #fbfcfc;
	margin-top:50px;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-right: 20px;

}

.eerdere-editie-container li {
	font-size: 30px;
	list-style-type: none;
}

.eerdere-editie-container h3 {
	margin-bottom: 20px;
}

.topheader {
	background-image: url("header.webp");
	background-repeat: no-repeat; 
  	background-size: cover; 
}

.menu, a.menu  {
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	color:white;
}

a:hover.menu {
	text-decoration: underline;

}

.titel {
	margin-top:20px;
background-color: black;
}

p {
	font-family: "omloop";

}

