---
import Layout from "../layouts/Layout.astro";
import EditieList from "../components/EditieList.astro";
import JaarList from "../components/JaarList.astro";
import WeetjesList from "../components/WeetjesList.astro";
import Menu from "../components/Menu.astro";
import Slot from "../components/Slot.astro";
import { Knoepert, Lijstitem } from "@geensnor/astro-componenten";

const title = "Omloop de Snor 2024";
---

<Layout {title}>
  <div>
    <Knoepert titel={title} subtekst="Twaalfde editie van de toertocht voor liefhebbers!" />
  </div>

  <div class="grid justify-items-center">
    <div class="p-4">
      <ul class="list-outside">
        <Lijstitem inhoud="Datum: ergens in 2024" />
        <Lijstitem inhoud="Starttijd: nog onbekend" />
        <Lijstitem inhoud="Start en finish: nog onbekend" />
        <Lijstitem inhoud="Route: nog onbekend" />
      </ul>
    </div>
    <div class="p-4 max-w-md">
      <p>
        Houd deze site of <a
          class="text-blue-600 hover:underline"
          href="https://mastodon.xyz/@geensnor">Mastodon</a
        > in de gaten voor meer informatie. Voor een fijn stukje interactie kun je
        natuurlijk altijd terecht in onze <a
          class="text-blue-600 hover:underline"
          href="https://t.me/geensnor">Telegram groep</a
        >
      </p>
    </div>
  </div>
  <Menu />
  <JaarList />
  <EditieList />
  <div class="grid md:grid-cols-6 grid-cols-1">
    <div class="md:col-start-2 md:col-span-4">
      <WeetjesList />
    </div>
  </div>
  <Slot />
</Layout>

<style>
  ul {
    font-size: 28px;
  }
</style>
