---
import EditieCard from "../components/EditieCard.astro";
import { getCollection } from "astro:content";

const allEdities = await getCollection("edities");
allEdities.sort((a, b) => parseFloat(b.id) - parseFloat(a.id));
---

<div id="eerdere-edities" class="grid justify-items-center">
  {allEdities.map((editie) => <EditieCard editie={editie.data} />)}
</div>
