---
import EditieCard from "../components/EditieCard.astro";
import Editiesjson from "../../public/edities.json";
---

<div id="eerdere-edities" class="grid justify-items-center">
  {
    Editiesjson.map(
      (editie) => (
        <EditieCard editie={editie} />
      )
    )
  }
</div>
