<footer class="grid place-content-center h-16 bg-slate-50 border border-gray-300 shadow">
    <div><a class="text-blue-600 hover:underline" href="https://www.geensnor.nl">geensnor.nl</a></div>
</footer>