<div class="text-center mt-3">
    <a
        class="inline-block text-blue-600 hover:underline"
        href="#eerdere-edities">eerdere edities</a
    > | <a class="inline-block text-blue-600 hover:underline" href="#weetjes"
        >omloop weetjes</a
    > | <a class="inline-block text-blue-600 hover:underline" href="#slot"
        >tot slot</a
    >
</div>
