---
import { Kop } from "@geensnor/astro-componenten";
---
<div class="w-full mt-8 text-center" id="slot">
  <Kop Type="h2" titel="Tot slot" />
</div>

<div class="flex flex-wrap justify-around m-4">
  <div>
    <img
      class="mx-auto"
      alt="Joris inspecteert z'n nieuwe co2 pompje die hij zojuist heeft gesloopt."
      loading="lazy"
      src="../../gifje.gif"
    />
  </div>
</div>
