<div class="w-full mt-8" id="strava">
    <h2 class="text-center text-4xl font-semibold text-orange-500">Geensnor op Strava</h2>
</div>

<div class="flex flex-wrap justify-around m-4">
    <div>
        <iframe
            loading="lazy"
            allowtransparency
            frameborder="0"
            height="160"
            scrolling="no"
            src="https://www.strava.com/clubs/22657/latest-rides/7b925bb609331c84fb2811fecbe2d6007da5e7bb?show_rides=false"
            width="400"></iframe><br />
        <img loading="lazy" src="../../gifje.gif" />
    </div>
    <div>
        <iframe
            loading="lazy"
            allowtransparency
            frameborder="0"
            height="454"
            scrolling="no"
            src="https://www.strava.com/clubs/22657/latest-rides/7b925bb609331c84fb2811fecbe2d6007da5e7bb?show_rides=true"
            width="400"></iframe>
    </div>
</div>
