---
import { Kop } from "@geensnor/astro-componenten";
import Weetjesjson from "../../public/weetjes.json";
---

<div class="mt-8 text-center" id="weetjes">
  <Kop Type="h2" titel="Omloop weetjes" />
</div>
  <div>
  <ul class="list-disc">
    {
      Weetjesjson.map((weetje) => (
        <>
          <li class="m-2">{weetje}</li>
        </>
      ))
    }
  </ul>
</div>
