---
import Weetjesjson from "../../public/weetjes.json";
---

<div id="weetjes">
    <h2 class="text-center text-4xl font-semibold text-orange-600">
        Omloop weetjes
    </h2>
    <ul class="list-disc">
        {
            Weetjesjson.map((weetje) => (
                <>
                    <li class="m-2">{weetje}</li>
                </>
            ))
        }
    </ul>
</div>
